blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
Flask==3.1.2
gTTS==2.5.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
playsound==1.2.2
PyAudio==0.2.14
requests==2.32.5
SpeechRecognition==3.14.4
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.4
